/* ===================================
    1. Importing Files
====================================== */

@import url("./css/clear.css");
@import url("./css/font-awesome.min.css");

/* ===================================
    2. Variable Declaration
====================================== */

:root {
  --red: #ff1e5c;
  --black: #060606;
  --blue: #5067c1;
}

/* ===================================
    3. Global CSS
====================================== */

body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 27px;
  font-weight: 400;
  color: #fff;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease;
}

body a:hover {
  color: var(--red);
}

.section-wrapper {
  position: relative;
  padding: 75px 0;
}

/* ===================================
    4. Header CSS
====================================== */

.header-holder {
  z-index: 99 !important;
  background-color: var(--black);
  width: 100% !important;
  top: 0;
  position: fixed;
  -webkit-transform: translateZ(0);
  height: 77px;
}

#header {
  height: 77px !important;
}

.navbar {
  height: 77px !important;
}

/* ===================================
    5. Global Section CSS
====================================== */

h2.entry-title {
  font-size: 80px;
  line-height: 70px;
  text-align: left;
  margin-bottom: 30px;
  padding-bottom: 0;
  padding-top: 0;
  font-weight: 300;
  word-break: break-word;
}

.sticky-spacer {
  position: static !important;
}

.title-holder {
  width: 270px;
  position: relative;
  color: #fff;
  word-break: break-all;
  padding-top: 50px;
}

.content-holder {
  width: 690px;
  margin-top: 50px;
}

.site-content {
  overflow: hidden;
}

.full-screen {
  min-height: calc(100vh - 77px);
  display: flex;
  padding: 0;
}

.full-width {
  padding: 50px 0;
}

.site-wrapper img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.center-relative {
  margin-left: auto;
  margin-right: auto;
}

.page-description {
  font-size: 22px;
  line-height: 35px;
  margin-top: 60px;
}

.one,
.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth {
  margin-right: 8%;
  float: left;
  position: relative;
  margin-bottom: 30px;
  width: 46%;
}

.one.last,
.one_half.last,
.one_third.last,
.two_third.last,
.three_fourth.last,
.one_fourth.last {
  margin-right: 0px;
}

.sticky {
  position: fixed;
  top: 10%;
}

.sticky + .title-holder {
  padding-top: 60px;
}

/* ===================================
    6. Home Section CSS
====================================== */

#home {
  background-image: url(./images/hero_main.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .section-wrapper {
  z-index: 14;
  margin: auto;
  padding: 0;
}

/* ===================================
    7. Services Section CSS
====================================== */

#services {
  background-color: var(--red);
}

#services .section-wrapper {
  z-index: 13;
  width: 1170px;
}

.split-color {
  background-color: #d41e5b;
  position: absolute;
  top: 0;
  transform: translateX(-104%);
  left: 405px;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: inline-block;
  box-sizing: content-box;
}

.info-text {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 40px;
  font-weight: 100;
}

.service-img img {
  width: 90px;
}

.service-text h4 {
  font-size: 19px;
  padding-bottom: 10px;
  padding-top: 0;
  color: #fff;
  font-weight: 600;
}

.service-holder {
  margin-top: 25px;
  margin-bottom: 25px;
}

.service-text {
  float: left;
  width: 63%;
  margin-left: 25px;
}

/* ===================================
    8. Portfolio Section CSS
====================================== */

#portfolio {
  background-color: var(--blue);
}

#portfolio .section-wrapper {
  z-index: 13;
  width: 1170px;
}

#portfolio .split-color {
  background-color: #505cc1;
  position: absolute;
  top: 0;
  transform: translateX(-104%);
  left: 405px;
  z-index: 0;
  width: 100%;
  height: 100%;
}
